@import url('https://fonts.googleapis.com/css?family=Abril+Fatface'); 

.banner {
    display: grid;
    place-items: center;
    background: #00124e;
    /* background-image: url("../assets/banners/3305937.jpg"); */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    margin-top: 0;
    padding: 40px 40px 0px 40px;
}
.banner-content {
    display: block;
    max-width: 720px;
    padding-top: 120px;
}
.banner-title {
    text-align: center;
    font-size: 46px;
    color: white;
    font-family: 'Abril Fatface';
    font-weight: 900;
    letter-spacing: 4px;
}
.banner-content .main-button {
    margin-top: 0px;
}

.banner-visuals {
    margin-top: 100px;
    margin-bottom: -40px;
}
.banner-visuals img {
    max-width: 450px;
}

@media (max-width: 600px) and (orientation: portrait){
    .banner {
        grid-template-columns: 1fr;
        height: auto;
        padding: 20px 20px 0 20px;
    }
    .banner-content {
        text-align: right;
    }
    .banner-content .main-button {
        margin-top: 60px;
    }
    .banner-title {
        font-size: 32px;
        text-align: left;
    }
    .banner-visuals img {
        max-width: 100%;
    }
}
