.banner {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #00000000, #dbebfa);
    background-image: url("../assets/banners/3305937.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    margin-top: 0;
}
.banner-content {
    display: block;
    max-width: 460px;
}
.banner-title {
    text-align: center;
    font-size: 32px;
    color: white;
}
.banner-content .main-button {
    margin-top: 0px;
}

@media (max-width: 600px) and (orientation: portrait){
    .banner {
        grid-template-columns: 1fr;
    }
}
