@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css?family=Silkscreen');


/*
Color Palette:
#00334e
#004d73
#007fbd
#dbebfa
*/

:root {
    --main-color: black;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Source Serif Pro";
}

html {
    background: linear-gradient(to right, #ffffff, #ecf1f7);
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "Source Serif Pro";
    color: #00334e;
    max-width: 100vw;
    overflow-x: hidden;
}

h1, h2, h3 {
    line-height: 1.4em;
}


header {
    backdrop-filter: blur(16px);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0;
    z-index: 15;
}

.sticky-header {
    background-color: transparent;
    backdrop-filter: blur(16px);
    box-shadow: rgba(100, 100, 111, 0.159) 0px 7px 16px 0px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 32px;
}

.logo-wrapper {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}
.logo-wrapper h1 {
    margin-left: 20px;
    margin-bottom: -4px;
    font-size: 22px;
    color: white;
    text-shadow: #00334e 0 0 10px;
}
.sticky-header .logo-wrapper h1 {
    margin-left: 20px;
    margin-bottom: -4px;
    font-size: 22px;
    color: #00334e;
    text-shadow: #00334e00 0 0 10px;
}


.header-logo {
    height: 40px;
    margin: 0;
    padding: 0;
    filter: drop-shadow(0px 0px 4px rgb(255, 255, 255));
    -webkit-filter: drop-shadow(0px 0px 4px rgb(255, 255, 255));
}


/* ---------------- MENU CONTENT ---------------- */
.title-p {
    margin-top: 20px;
    max-width: 600px;
}

main {
    z-index: 9;
    max-width: 100vw;
}

main > section {
    margin: 40px 0 40px 0;
    padding: 40px 40px;
    display: grid;
    place-items: center;
}


h1, h2, h3 {
    font-weight: 900;
}

h1 {
    max-width: 100%;
}

p {
    line-height: 1.5em;
}


.title {
    margin-bottom: 40px;
    font-size: 52px;
    line-height: 1.2em;
    font-weight: bolder;
    color: #00334e;
}

.normal-section--title {
    padding-bottom: 20px;
    border-bottom: 1px solid #007fbd;
    text-align: center;
}

.button {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 12px 20px;
    background: linear-gradient(to right,#007fbd, #004d73);
    color: white;
    border-radius: 28px;
    box-shadow: #00334e8f 0 18px 32px;
    border: none;
    transition: .2s;
}
.button:hover {
    cursor: default;
    transform: scale(1.1);
    background: linear-gradient(to right,#095f8a, #004d73);
}
.button:active {
    transform: scale(.6);
    background: linear-gradient(to right,#095f8a, #004d73);
}
.button a {
    color: white;
    text-decoration: none;
    cursor: default;
}




.legal-stuff {
    font-size: 12px;
    text-align: center;
    background-color: #000432;
    padding: 10px;
    color: white;
}


@media (max-width: 720px) and (orientation: portrait){
    html {
        width: 100vw;
        overflow-x: hidden;
    }

    main {
        max-width: 100vw;
        overflow-x: hidden;
    }

    main > section {
        margin-top: 40px;
        padding: 80px 20px;
        display: grid;
    }

    header {
        height: auto;
    }
    .header-wrapper {
        height: 64px;
    }

    .title {
        font-size: 42px;
    }
    .title-p {
        margin-top: 20px;
        font-size: 16px;
    }
    
    .normal-section {
        padding: 80px 16px;
        display: grid;
        text-align: left;
        place-items: center;
    }
    .normal-section--title {
        font-size: 22px;
        max-width: 90%;
    }
    .rrss {
        display: none;
    }
}
