:root {
    --gjs-main-color: #006a90;
    --gjs-primary-color: #f4f7ff;
    --gjs-secondary-color: #ddd;
    --gjs-tertiary-color: #000000;
    --gjs-quaternary-color: #d278c9;
    --gjs-font-color: rgb(0, 4, 36);
    --gjs-font-color-active: rgb(0, 4, 36);
    --gjs-main-dark-color: rgba(38, 115, 197, 0.1);
    --gjs-secondary-dark-color: rgba(26, 60, 112, 0.04);
    --gjs-main-light-color: rgba(0, 61, 95, 0.1);
    --gjs-secondary-light-color: rgba(255, 255, 255, 0.7);
    --gjs-soft-light-color: rgba(255, 255, 255, 0.015);
    --gjs-color-blue: #3b97e3;
    --gjs-color-red: #dd3636;
    --gjs-color-yellow: #ffca6f;
    --gjs-color-green: #62c462;
    --gjs-left-width: 260px;
    --gjs-color-highlight: #71b7f1;
    --gjs-color-warn: rgb(145, 62, 255);
    --gjs-handle-margin: -5px;
    --gjs-light-border: rgba(255, 255, 255, 0.05);
    --gjs-arrow-color: rgb(0, 4, 36);
    --gjs-dark-text-shadow: rgba(0, 0, 0, 0.2);
    --gjs-color-input-padding: 22px;
    --gjs-input-padding: 6px;
    --gjs-padding-elem-classmanager: 5px 6px;
    --gjs-upload-padding: 150px 10px;
    --gjs-animation-duration: 0.2s;
    --gjs-main-font: "Comfortaa", Helvetica, sans-serif;
    --gjs-font-size: 0.75rem;
    --gjs-placeholder-background-color: var(--gjs-color-green);
    --gjs-canvas-top: 50px;
    --gjs-flex-item-gap: 5px
}


.panel {
    width: 90%;
    max-width: 700px;
    border-radius: 3px;
    padding: 30px 20px;
    margin: 150px auto 0px;
    background-color: #d983a6;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.75);
    font: caption;
    font-weight: 100;
}

.designer-logo {
    font-family: 'comfortaa';
    font-weight: 900;
    color: #341B4D;
    width: max-content;
}

.designer-logo-container {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background-color: var(--light-blue);
    justify-self: left;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
    width: 35px;
    height: 35px;
}


.designer-logo-container:hover .logo-image{
    transition: transform .2s ease-in-out;
    transform: rotateZ(45deg);
}


.designer-logo-container .logo-image {
    width: 26px;
}


.big-title {
    text-align: center;
    font-size: 3.5rem;
    margin: 15px 0;
}

.description {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5rem;
}

.gjs-frame {
    width: 100%;
    height: 100%;
}

.gjs-pn-panels {}


svg {
    max-width: 40px;
}


.small-modal .gjs-mdl-dialog {
    max-width: 380px !important;
}

.small-modal .gjs-mdl-dialog .gjs-mdl-content {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    min-height: 180px;
    padding: 32px 0;
}



.small-modal .gjs-mdl-dialog .gjs-mdl-content {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    width: calc(100% - 40px);
    margin: 0;
    padding: 20px;
    min-height: 180px;
}


.small-modal .gjs-mdl-dialog #gjs-mdl-c {
    width: 100% !important;
    margin: 0;
    padding: 0;
}

.small-modal .gjs-mdl-dialog .gjs-mdl-content label {
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
}

.small-modal .gjs-mdl-dialog .gjs-mdl-content input {
    display: block;
    margin: 4px 0;

    height: 100%;
    padding: 0 20px;
    min-height: 40px;
    width: calc(100% - 40px);
    border: 1px solid var(--blue);
    border-radius: 12px;
    font-size: 18px;
}

.small-modal .gjs-mdl-dialog .gjs-mdl-content button {
    margin: 0 auto;
    width: 100%;
}



.designer-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgb(67, 28, 225);
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    outline: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: .2s;
}

.designer-button:hover {
    background: rgb(13, 4, 27);
    box-shadow: rgb(48, 63, 200) 0 0 120px 0;
}


.gjs-one-bg {
    background-color: white; 
}




.gjs-sm-sector .gjs-sm-gradient {
    width: 100%;
}

.grp-wrapper {
    margin: 15px 0;
    background-image: none !important;
    background-color: var(--gjs-main-dark-color);
}

.grp-handler-close {
    background-color: #444;
    color: #ddd;
}

.grp-handler-cp-wrap {
    border-color: #444;
}

.grp-preview,
.grp-wrapper {
    border-radius: 3px;
}





.gjs-category-title,
.gjs-layer-title, .gjs-title,
.gjs-sm-sector-title {
    font-size: 14px;
    letter-spacing: 1px;
    padding: 9px 10px 9px 20px;
    text-align: left;
    position: relative;
    cursor: pointer 
}
.gjs-sm-sector-title:hover {
    font-weight: bold;
}

.gjs-sm-sector-title {
    display: flex;
    align-items: center
}

.gjs-sm-sector-title * {
    cursor: pointer 
}

.gjs-category-open,
.gjs-block-category.gjs-open,
.gjs-sm-sector.gjs-sm-open {
    background-color: white;
}

.gjs-sm-sector {
    box-sizing: border-box;
    clear: both;
    font-weight: lighter;
    text-align: left;
    overflow: hidden;
    border-bottom: 2px solid var(--light-blue);
    
}

.gjs-sm-sector-caret {
    width: 17px;
    height: 17px;
    min-width: 17px;
    transform: rotate(-90deg)
}

.gjs-sm-sector-label {
    margin-left: 5px
}

.gjs-sm-sector.gjs-sm-open .gjs-sm-sector-caret {
    transform: none
}



.gjs-sm-properties {
    box-sizing: border-box;
    /* border: 1px solid var(--blue); */
    font-size: var(--gjs-font-size);
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
}


.gjs-field input,
.gjs-field select,
.gjs-field textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: inherit;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding: var(--gjs-input-padding);
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}


.gjs-field {
    background-color: var(--light-blue);
    border: none;
    box-shadow: none;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 0;
    position: relative;
}


.gjs-radio-item input:checked+.gjs-radio-item-label {
    background-color: var(--blue);
    color: white;
    border-radius: 12px;
}




.gjs-three-color {
    color: var(--gjs-tertiary-color)
}

.gjs-three-color-h:hover {
    color: var(--gjs-tertiary-color)
}

.gjs-four-bg {
    background-color: var(--gjs-quaternary-color)
}

.gjs-four-color {
    color: var(--purple);
    font-weight: bold;
}

.gjs-four-color-h:hover {
    color: var(--gjs-quaternary-color)
}

.gjs-danger-bg {
    background-color: var(--gjs-color-red)
}

.gjs-danger-color {
    color: var(--gjs-color-red)
}

.gjs-danger-color-h:hover {
    color: var(--gjs-color-red)
}





.gjs-clm-tags {
    display: none;
    font-size: var(--gjs-font-size);
    padding: 10px 5px
}

.gjs-clm-tags.active {
    display: block;
}

.gjs-clm-tags #gjs-clm-sel {
    padding: 7px 0;
    float: left
}

.gjs-clm-tags #gjs-clm-sel {
    font-style: italic;
    margin-left: 5px
}

.gjs-clm-tags #gjs-clm-tags-field {
    clear: both;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap
}

.gjs-clm-tags #gjs-clm-tags-c {
    display: flex;
    flex-wrap: wrap;
    vertical-align: top;
    overflow: hidden
}

.gjs-clm-tags #gjs-clm-new {
    color: var(--gjs-font-color);
    padding: var(--gjs-padding-elem-classmanager);
    display: none
}

.gjs-clm-tags #gjs-clm-close {
    opacity: .85;
    filter: alpha(opacity=85);
    font-size: 20px;
    line-height: 0;
    cursor: pointer;
}

.gjs-clm-tags #gjs-clm-close:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.gjs-clm-tags #gjs-clm-checkbox {
    vertical-align: middle;
    cursor: pointer;
    font-size: 9px
}

.gjs-clm-tags #gjs-clm-tag-label {
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 3px;
    cursor: text
}



.gjs-sm-field.gjs-sm-color,
.gjs-sm-color.gjs-clm-field,
.gjs-sm-field.gjs-sm-input,
.gjs-sm-input.gjs-clm-field,
.gjs-sm-field.gjs-sm-integer,
.gjs-sm-integer.gjs-clm-field,
.gjs-sm-field.gjs-sm-list,
.gjs-sm-list.gjs-clm-field,
.gjs-sm-field.gjs-sm-select,
.gjs-clm-select,
.gjs-sm-select.gjs-clm-field {
    color: var(--gjs-secondary-light-color);
    box-sizing: border-box;
    padding: 0 5px
}


.gjs-sm-field.gjs-sm-composite {
    border: 1px solid var(--blue);
    border-radius: 12px;
}
.gjs-sm-field.gjs-sm-composite,
.gjs-sm-composite.gjs-clm-select,
.gjs-sm-composite.gjs-clm-field {
    border-radius: 12px
}