@import url('./animations.css');


:root {
	--dark: rgb(20, 0, 80);
	--light-blue: rgb(148, 126, 228);
	--blue: #5468ff;
	--buttons-blue: rgb(32, 32, 128);

	--page-content-size: 1250px;

	--title-max-width: 800px;
	--subtitle-max-width: 600px;
}

* {
	cursor: default;
}

html {
	scroll-behavior: smooth;
}

html, body {
	position: relative;
	width: 100%;
}

body {
	background: linear-gradient(to right, white, rgba(192, 212, 255, 0.4));
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Comfortaa, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

header {
	width: calc(100% - 40px);
    padding: 8px 20px;
    overflow: hidden;
}



button, a {
	font-family: Comfortaa;
	font-size: 15px;
}

main {
	padding: 20px;
	margin: 0 auto;
}

section {
	padding: 40px 20px;
	max-width: var(--page-content-size);
	margin: 40px auto;
	height: fit-content;
}


img {
	max-width: 100%;
}
.banner {
	margin: 0;
}

h1, h2, h3, h4 {
	font-family: comfortaa;
	font-weight: 900 !important;
	line-height: 1.2em;
}
h1 {
    color: #140050;
	font-size: 48px;
	max-width: var(--title-max-width);
}

.white-title {
	color: white;
}

main h1 {
	max-width: 600px;
}


h2 {
    color: rgb(20, 0, 80);
	font-family: Comfortaa;
	font-size: 28px;
	font-weight: 400;
	line-height: 1.4em;
	max-width: var(--subtitle-max-width);
}

h3 {
    color: rgb(20, 0, 80);
	line-height: 1.4em;
	font-size: 22px;
	margin-top: 40px;
	font-family: Comfortaa;
}

.text-link {
	text-decoration: none;
	font-weight: bold;
	color: var(--dark);
}

.text-link:hover {
	background: linear-gradient(to right, #667eea, #764ba2);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

input:hover {
	cursor: text;
}
textarea:hover {
	cursor: text;
}

a {
	text-decoration: none;
	color: var(--dark);
}

a:hover {
	font-weight: bold;
	cursor: pointer;
}


a *:hover {
	cursor: pointer;
}

.text-icon {
	width: 14px;
	margin-right: 10px;
	transition: .2s;
}


.small-icon {
	width: 20px;
}


button:hover {
	cursor: pointer;
}

button *:hover {
	cursor: pointer;
}

.left-title {
	margin: 0 auto 0 0;
}
.right-title {
	margin: 0 0 0 auto;
	text-align: right;
}


p {
	line-height: 1.5em;
}


.gradient-color {
	background: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
	/* Set the background size and repeat properties. */
	background-size: 200%;
	background-repeat: repeat;
	/* Use the text as a mask for the background. */
	/* This will show the gradient as a text color rather than element bg. */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/* Animate the background-position property tclass="button1ift the gradient. */
	animation: animate 10s linear infinite;
}


.gradient-button {
	display: block;
	background: linear-gradient(to right, #61c2f3, #9f4cf1);
	border-radius: 24px;
	border: none;
	color: white;
	height: fit-content;
	max-width: fit-content;
	padding: 12px 20px;
	float: right;
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
	transition: .2s;
}
.gradient-button:hover {
	background: rgb(32, 32, 128);
	
}
.gradient-button:active {
	transform: scale(.9);
}

.white-button {
	border-radius: 24px;
	border: none;
	color: rgb(0, 5, 47);
	height: min-content;
	padding: 12px 20px;
	max-width: fit-content;
	float: right;
	font-size: 14px;
	cursor: pointer;
	background-color: white;
	text-decoration: none;
	display: block;
	transition: .2s;
}
.white-button:hover {
	background: var(--buttons-blue);
	box-shadow: white 0px 0px 20px;
	color: white;
}
.white-button:active {
	transform: scale(.9);
}



.gradient-text {
	background: linear-gradient(to right, #667eea, #764ba2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.right-svg {
	width: 28px;
	margin-left: 8px;
}

.left-svg {
	width: 20px;
	margin-right: 8px;
}


.vertical-flip {
	transform: rotateZ(180deg);
}

/* --------------- FORMS ---------------- */

.auth-page {
	margin: 0 auto;
}


.welcome-message {
	text-align: center;
	font-weight: 900;
}


/* --------------- COLUMNS ---------------- */

.flex-columns {
	margin: 40px 0;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	gap: 10px;
	text-align: left;
	max-width: 100%;
}

.flex-columns img {
	max-width: 50%;
	border-radius: 8px;
}




/* --------------- GRID SECTIONS --------------- */

.grid3x1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 40px;
	margin-top: 80px;
}


@media screen and (max-width: 1150px) {
	.flex-columns {
		flex-wrap: wrap;
	}
}


@media screen and (max-width: 767px) {

	h1 {
		font-size: 32px;
	}


	section {
		padding: 10px;
		margin: 40px 0;
		text-align: left;
	}
	.auth-form {
		padding: 20px;
		width: calc(100% - 40px);
	}

	.flex-columns {
		display: block;
		padding: 10px;
	}
	.flex-columns > * {
		max-width: 100%;
	}


	.grid3x1 {
		grid-template-columns: 1fr;

	}

	article {
		width: 94%;
	}
}

